<footer class="container-fluid py-3 bg-dark text-white" th:fragment="footer">
    <div class="row">
      <div class="col-md-8 col-lg-9 mb-md-0 mb-3">
        <p>&copy; 2024 Company Name. All rights reserved.</p>
      </div>
      <div class="col-md-4 col-lg-3 d-flex align-items-center justify-content-md-end justify-content-center">
        <a class="text-white text-decoration-none mx-1" href="#">
          <i class="bi bi-facebook"></i>
        </a>
        <a class="text-white text-decoration-none mx-1" href="#">
          <i class="bi bi-twitter"></i>
        </a>
        <a class="text-white text-decoration-none mx-1" href="#">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </div>
</footer>
  